body {
    --main-bg: black;
    --primary: white;
    --secondary: gray;
    background-color: var(--main-bg);
    color: var(--primary);
    text-align: center;
}

#rlcanvas {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 0.5vw solid var(--secondary);
    width: 50vh;
    height: 50vh;
    border-width: 5px;
    background-color: var(--primary);
    image-rendering: pixelated;
}

.color_button {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 0.1vw solid var(--secondary);
    width: 10vh;
    height: 10vh;
    border-width: 5px;
    background-color: var(--drawcolor);
    image-rendering: pixelated;
}