body {
    --main-bg: black;
    --primary: white;
    --secondary: gray;
    background-color: var(--main-bg);
    color: var(--primary);
    text-align: center;
}

canvas {
    background-color: white;
}